body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    height: 1080px;
}

nav {
    background-color: navy;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

nav ul li {
    color: white;
    display: inline;
    list-style: none;
    position: relative;
}

.deroulant>a::after {
    content: "▼";
    font-size: 12px;
    color: white;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    color: navy;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
}

.deroulant:hover .sous {
    display: block;
}

.sous li {
    position: relative;
    width: 100%;
    text-align: left;
    display: block;
}

.sous a {
    color: navy;
}

.border {
    border-right: 2px solid white;
}

nav a {
    display: inline-block;
    margin: auto;
    color: white;
    text-decoration: none;
    width: 10%;
}

h1,
h2 {
    color: black;
    font-weight: bolder;
}

header {
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    height: 65px;
    width: 45%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    background-color: white;
}

#txt_body,
form {
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    height: auto;
    width: 75%;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
    background-color: white;
}

form {
    padding-top: 10px;
}

input {
    background-color: white;
    margin-top: 2px solid red;
    margin-bottom: 2px solid red;
}

li {
    color: navy;
    margin-top: 5px;
    margin-bottom: 5px;
}

li div {
    color: black;
}

ul {
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

#ul,
#ul_pts {
    position: absolute;
    top: 45%;
    left: 30%;
    width: 40%;
    z-index: 1000;
    background-color: white;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
}

#ul_pts {
    top: 65%;
}

img {
    width: 125px;
}

footer {
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    height: 50px;
    width: 45%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    background-color: white;
    line-height: 40px;
}